@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: orangered;
}

@keyframes change{
  0%{
    background-position: 0 50%
  }
  50%{
    background-position: 100% 50%
  }
  100%{
    background-position: 0 50%
  }
}

canvas{
  background-color: rgba(255, 255, 255, 0.8) !important;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: 2px solid black;
}

p{
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Permanent Marker', cursive;
}
